<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="form_name" id=""></p>
        <p>Email: <input type="text" name="form_email" id=""></p>
        <p>Password: <input type="text" name="pw" id=""></p>
        <p>Confirm Password: <input type="text" name="cpw" id=""></p>
        <p><input type="submit" value="Register!"></p>
    </form>
    <h1>Login</h1>
    <form action="/login" method="post">
        {% csrf_token %}
        
        <p>Email: <input type="text" name="form_email" id=""></p>
        <p>Password: <input type="text" name="pw" id=""></p>
        <p><input type="submit" value="Login!"></p>
    </form>
</body>
</html>