<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{loggedinUser.name}}</h1>
    <a href="/logout">Logout</a>

   
    <h2>Your wish list (favorites)</h2>
    {{favitems}}
<table>
  <tr>
    <th>Item</th>
    <th>Added by</th>
    <th>Date Added</th>
    <th>Action</th>
  </tr>
  {% for itemObj in favitems %}
  <tr>
      <td>{{itemObj.name}}</td>
      <td>{{itemObj.uploader.name}}</td>
      <td>{{itemObj.created_at}}</td>
      <td><a href="/removefav/{{itemObj.id}}">Remove from favorites</a></td>
  </tr>
  {% endfor %}
</table>

<h2>Other users' wish list (nonfavorites)</h2>
{{allitems}}
<table>
  <tr>
    <th>Item</th>
    <th>Added by</th>
    <th>Date Added</th>
    <th>Action</th>
  </tr>
  {% for itemObj in nonfavitems %}
  <tr>
      <td>{{itemObj.name}}</td>
      <td>{{itemObj.uploader.name}}</td>
      <td>{{itemObj.created_at}}</td>
      <td><a href="/favoriteItem/{{itemObj.id}}">Add to favorites</a></td>
  </tr>
  {% endfor %}
</table>
    <a href="/wishItems/create">Add Item</a>
</body>
</html>