<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUOTE</title>
</head>
<body>
    <h2>CREATE YOUR QUOTE BELLOW:</h2>
    <form action="/create_quote" method="POST">
        {% csrf_token %}
        <p>Author: <input type="text" name="author"></p>
        <h2>QUOTE:</h2>
        <p><textarea cols="27" rows="10" name="quote"></textarea></p>
        <input type="submit" value="ADD">
    </form>
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}    
    {% endif %}
</body>
</html>