<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUOTES</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <div class="quote-container">
        <div class="col">
            <h2 class="header"> Quotes created by: {{ usertoshow}} </h2>   
            {% for quotes_iterator in quotes_created_by_user %}
                <h3>{{ quotes_iterator.quote }}</h3>
                <p>Quote by: {{ quotes_iterator.author }} | Added by: {{ quotes_iterator.posted_by.name }} </p>
                
            {% endfor %}
            <a href="/success" class="btn btn-green">GO BACK</a>
        </div>
    </div>

</body>
</html>