@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  background: linear-gradient(225deg, #6461a5, #2a0845);
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.col {
  color: #424346;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.col h2,
.col p {
  margin: 0;
  padding: 0 1.25rem;
}
.col h2 
{
  margin: 0.75em 0 0.5em;
  text-align: center;
}
.col p {
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 0.9em;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  max-width: 100%;
  margin: auto;
}

.flex .col {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  margin: 1em 0.5em;
}

.index {
  text-align: center;
  color: #424346;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  height: 60vh;
}

.index h2 {
  color: white
}
.index a {
  background-color: #2a0845;
  width: 200px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: linear-gradient(225deg, #5854a7, #2a0845);
  color: white;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover { 
  background-color: #ddd;
}

#textarea {
  margin-left: 30px;
}

#add-btn,
#add-btn-diff,
#back-btn,
.index a 
{
  cursor: pointer;
  border: 0;
  background: #5854a7;
  color: white;
  border-radius: 5px;
  padding: .5rem .5rem;
  font-weight: bold;
  text-decoration: none;
}

#add-btn:hover,
.index a:hover {
  background: #4d48aa;
}
#add-btn {
  margin-left: 200px;
}

#add-btn-diff, 
#back-btn {
  margin: 0;
}
select {
  margin: 1rem;
}