<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boxes</title>
</head>
<body>
    <h1>procced to:</h1>
    <h2>http://127.0.0.1:5000/plaground/100/blue </h2>

    <p>where 100 is integer num of boxes you want to render</p>
    <p>where blue is color, but we using only fancy colors here:</p>
    <p>['chartreuse', 'darkorchid', 'lightsalmon']</p>
    <p>or it will be default black 🤦‍♂️</p>
</body>
</html>