<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO DEMO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>

    {% comment "Optional note" %}
    <p>Commented out text with {{ create_date|date:"c" }}</p>
    they not gonna see me too

    {% endcomment %}

    <img src="{% static 'img/mimi.gif' %}" />
    <h1>Info From Server:</h1>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>
    <ul>
        {% for pet in pets %}
        <li>{{pet}}</li>
        {% endfor %}
    </ul>
    <p>my list: {{ my_list.0 }} , {{ my_list.1 }}</p>
</body>

</html>