<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wall</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    <div class="flex">
        <div class="col error">
            {% if messages %}
            <ul>
                {% for message in messages %}
                {% if 'register' in message.extra_tags %}
                <li>{{ message }}</li>
                {% elif 'login' in message.extra_tags %}
                <li>{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}

        </div>
        <div class="col">
            <h1 class="header">REGISTER</h1>
            <form action="/register" method="POST">
                {% csrf_token %}
                <p>First Name: <input type="text" name="first_name"></p>
                <p>Last Name: <input type="text" name="last_name"></p>
                <p>Email: <input type="email" name="email"></p>
                <p>Password: <input type="password" name="pw"></p>
                <p>Confirm Password: <input type="password" name="confirm_pw"></p>
                <button class="btn" type="submit">Register</button>
            </form>
        </div>
        <div class="col">
            <h1 class="header">LOGIN</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                <p>Email: <input type="email" name="email"></p>
                <p>Password: <input type="password" name="pw"></p>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>