<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    {# http://127.0.0.1:8000/shows/3 #}
    <div class="flex">
        <div class="col">
            <h1>Edit "{{ selected_show.title }}"" </h1>
            <form action="/shows/{{selected_show.id}}/update" method="POST">

                {% csrf_token %}
                <p>Title: <input type="text" name="title" value="{{ selected_show.title }}"> </p>
                <p>Network: <input type="text" name="network" value="{{ selected_show.network }}"> </p>
                <p>Release Date: <input type="date" name="release_date" value="{{ selected_show.release_date }}"></p>
                <p>Description:</p>
                <textarea id="textarea" name="desc" class="textarea" rows="8" cols="50" value="{{ selected_show.desc }}"></textarea>
                <p><button class="btn" id="centerBtn"  type="Submit">Update</button></p>
            </form> 
        </div> 

        </div>
    </div>
</body>
</html>